.width-80 {
  width: 80px !important;
}

.width-140 {
  width: 140px !important;
}

.width-150 {
  width: 150px !important;
}

.width-160 {
  width: 160px !important;
}

.width-170 {
  width: 170px !important;
}

.width-230 {
  width: 230px !important;
}
